{% extends 'base_a1.html' %} {% block body %}
<body>
  <h1 class="text-center">Sample Page</h1>
  <main>
    <h2 class="text-center">
      Today is : {{dd}} <sup>{{suffix}}</sup> {{mm}} {{yy}}
    </h2>
    <section>
      <div class="container-center">
        <img src="https://i.pravatar.cc/300" alt="Unabe to find Image" />
      </div>
      <h2 class="text-center">
        <a href="/assingment">Click this link to get random image</a>
      </h2>
    </section>
  </main>
</body>
{% endblock body %}
